body {
	background-color: lightgray;
}

img {
	border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    width: 130px;
    height: 130px;
}
form {
	min-width: 50px;
	display: inline-block;
}