<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>adding a car </title>
</head>
<body>
    <h1>Add new car </h1>
	<form action="#" enctype="multipart/form-data" method="post">
		<fieldset>
			<legend>New Car: </legend>
			<p>brand: <input type="text" name="brand"></p>
			<p>Model: <input type="text" name="model"></p>
			<p>Image: <input type="file" name="fileToUpload"></p>
			<input type="submit" value="Submit">
		</fieldset>	
	</form>
</body>
</html>